<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../../../lib/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/StrUtilsEx.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var strRes=StrUtilsEx.append("str1","str2");
            console.log(strRes)
        });
    </script>
</head>
<body>
    <div id="parentId" style="width: 250px;height: 50px;background: #ff0000;">

    </div>
</body>
</html>